*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
}

html,
button,
*::placeholder {
  font-family: "Roboto", sans-serif;
}

body {
  background: #fcfbf4;
}

nav {
  background-color: #79a8ff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

nav .left-icons > * {
  padding-right: 1rem;
}

nav .right-icons > * {
  padding-left: 1rem;
}

.main-container {
  margin: 3.75rem 4.5rem;
  padding: 2rem 3rem;
  min-width: 300px;
}

.date-container {
  display: flex;
  padding-bottom: 1rem;
}

.date-container .today-day {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 1rem;
}

.date-container .today-date {
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.add-task-container button {
  cursor: pointer;
  background: none;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button div::before {
  content: "add";
  padding-right: 0.5rem;
}

button:hover div:before {
  content: "add_circle";
}

.add-task-container button:hover {
  color: #79a8ff;
}

.modal {
  display: none;
}

.task-container {
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.task.high {
  background: lightcoral;
}

.task.mid {
  background: lightyellow;
}

.task.low {
  background: lightgreen;
}

.modal-content {
  border: 1px solid black;
  border-radius: 0.5rem;
}

.form-add-task {
  display: flex;
  flex-direction: column;
}

.form-add-task > * {
  padding: 0.5rem;
}

.input-task-name,
.input-task-description,
.input-date,
.submit-btn {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  background: #fffcfc;
}

.input-date {
  width: 50%;
}

.input-task-name:focus,
.input-task-description:focus,
.input-date:focus {
  outline: none;
}

.input-task-description {
  resize: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px yellow inset;
}

.submit-btn {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  background: #79a8ff;
  width: 50%;
  cursor: pointer;
  border-radius: 0.5rem;
}

.submit-btn:hover {
  background: #3d81ff;
}

.radio input {
  width: auto;
  height: 100%;
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 2px;
  background: #a1a1a1;
  font-size: 1rem;
  transition: all 100ms linear;
}

.radio input:checked {
  color: black;
  box-shadow: 0 1px 1px #0000002e;
  text-shadow: 0 1px 0px #79485f7a;
}

.radio #high:checked {
  background: lightcoral;
}

.radio #mid:checked {
  background: lightyellow;
}

.radio #low:checked {
  background: lightgreen;
}

.radio input:before {
  content: attr(label);
  display: inline-block;
  width: 100%;
  text-align: center;
}
