*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #fcfbf4;
}

header {
  background-color: #79a8ff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.main-container {
  margin: 2rem 5rem;
  padding: 2rem;
  background: #79a8ff;
  min-width: 250px;
}

.date-container {
  display: flex;
}

.date-container .day {
  font-size: 2rem;
}

.date-container .date {
  padding-top: 0.8rem;
  padding-left: 0.5rem;
}

.add-task-container {
  display: flex;
}

.modal {
  display: none;
}

.task-container {
  display: flex;
  flex-direction: column;
}
