*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
}

:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #0095ff;
  --secondary-bg-color-lighter: #c0e5f9;
  --main-font-color: #000000;
  --main-font-color-light: #999999;
  --high-priority-color: #ffa09b;
  --mid-priority-color: #ffff9d;
  --low-priority-color: #a9ffa9;
  --border-rad: 0.5rem;
}

/* This selector sets the style on every element */
html * {
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--main-bg-color);
}

.nav {
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.nav__icons-left-container > * {
  padding-right: 1rem;
}

.nav__icons-right-container > * {
  padding-left: 1rem;
}

.icon {
  user-select: none;
}

.main-container {
  display: flex;
}

.main-container__sidebar {
  display: none;
}

.main-container__main-content {
  width: 100%;
  margin: 3.75rem auto;
  padding: 0 min(20rem, 15%);
}

.task-list-container {
  display: none;
}

.task-list-container.active {
  display: block;
}

.date-container {
  display: flex;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.date-container__today-day {
  font-weight: bold;
  padding-right: 1rem;
  user-select: none;
}

.date-container__current-date {
  overflow: hidden;
  white-space: nowrap;
  color: var(--main-font-color-light);
  user-select: none;
}

.task-container {
  display: flex;
  flex-direction: column;
}

.task-container__task {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: var(--border-rad);
  gap: 0.25rem;
}

.task-container__task-title {
  font-weight: 500;
  flex: 1;
  min-height: 0;
}

.task-container__task-description {
  font-size: 0.9rem;
  flex: 1;
  min-height: 0;
}

.task-container__icons-delete {
  flex: 1;
  min-height: 0;
  align-self: flex-end;
  cursor: pointer;
}

.task-container__task-priority--high {
  background: var(--high-priority-color);
}

.task-container__task-priority--mid {
  background: var(--mid-priority-color);
}

.task-container__task-priority--low {
  background: var(--low-priority-color);
}

.add-task-btn,
.add-project-btn {
  cursor: pointer;
  background: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  user-select: none;
}

.add-task-btn__icons-add::before,
.add-project-btn__icons-add::before {
  content: "add";
  padding-right: 0.25rem;
  color: var(--secondary-bg-color);
}

.add-task-btn:hover,
.add-project-btn:hover {
  color: var(--secondary-bg-color);
}

.add-task-btn:hover .add-task-btn__icons-add::before,
.add-project-btn:hover .add-project-btn__icons-add::before {
  content: "add_circle";
}

.modal {
  display: none;
}

.form {
  border: 1px solid var(--main-font-color-light);
  border-radius: var(--border-rad);
  display: flex;
  flex-direction: column;
}

.form:focus-within {
  border: 1px solid var(--main-font-color);
}

.form > * {
  margin: 1rem 1rem 0 1rem;
}

.form__input-task-name:focus,
.form__input-task-description:focus,
.form__input-due-date:focus,
.form__input-project-name:focus {
  outline: none;
}

.form__input-task-description {
  resize: none;
}

/* this is to remove a preset style */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}

.form__sub-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.form__input-due-date {
  border: 1px solid var(--secondary-bg-color);
  border-radius: var(--border-rad);
  padding: 0.5rem 1rem;
}

.form__input-due-date:focus {
  border: 1.95px solid #0059ff;
}

.form__input-priority {
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--main-font-color);
  border-radius: var(--border-rad);
  border: 1px solid var(--main-font-color-light);
  transition: all 300ms linear;
}

.form__input-priority:before {
  content: attr(label);
  text-align: center;
}

.form__input-priority:hover {
  border: 1.95px solid var(--main-font-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 100ms linear;
}

.form__input-priority:checked {
  color: black;
  box-shadow: 0 1px 1px #0000002e;
  text-shadow: 0 1px 0px #79485f7a;
  border: none;
}

.form__input-priority--high:checked {
  background: var(--high-priority-color);
}

.form__input-priority--mid:checked {
  background: var(--mid-priority-color);
}

.form__input-priority--low:checked {
  background: var(--low-priority-color);
}

.modal__btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.modal__btn-container .btn {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
}

.modal__btn-submit {
  background: var(--secondary-bg-color);
  transition: 0.3s;
}

.modal__btn-submit:hover {
  background: #3d81ff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal__btn-cancel {
  background: var(--main-font-color-light);
  transition: 0.3s;
}

.modal__btn-cancel:hover {
  background: #888888;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (min-width: 800px) {
  .main-container {
    display: grid;
    grid-template-columns: 300px auto;
  }

  .main-container__sidebar {
    display: block;
    background: var(--secondary-bg-color-lighter);
    min-height: calc(100vh - 60px);
  }

  .sidebar__project-container {
    max-width: 80%;
    margin: 2rem auto;
  }

  .project-container__project-name {
    color: var(--main-font-color);
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.15rem;
    font-weight: medium;
    cursor: pointer;
    user-select: none;
  }

  .project-container__project.active {
    background-color: var(--secondary-bg-color);
  }

  .project-container__project.active .project-container__project-name {
    color: var(--main-bg-color);
  }

  .sidebar__modal {
    display: none;
  }

  .form__input-project-name {
    background: var(--secondary-bg-color-lighter);
    margin: 0.5rem;
  }
}
